ls -la .pre-commit-config.yaml
file .pre-commit-config.yaml
test -f .pre-commit-config.yaml && echo "is file" || echo "not a file"
git status -- .pre-commit-config.yaml--extra-index-url https://download.pytorch.org/whl/cpu
torch
llama-index
openai
python-dotenv
rich
pydantic
chromadb
# pysqlite3-binary
streamlit
transformers
matplotlib
seaborn
scikit-learn
pysyllables
jinja2
tqdm
numpy
PyMuPDF
huggingface_hub
pre-commit